{{!< default}}

<header id="main-header">
	<nav id="main-nav">
		<span id="rss-link"><a class="subscribe" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i> RSS</a></span>
	</nav>

	<h2 id="blog-name"><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
{{!-- 	{{#if @blog.description}}
		<span id="blog-description">{{@blog.description}}</span>
	{{/if}} --}}
</header>

<div id="post-index" class="container">
	<main class="content" role="main">
		{{> "loop"}}
	</main>
</div>